body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*main*/
.zoom-viewport {
    width: calc(100% - 70px);
    height: 43vw;
    background-color: black;
    margin: 35px;
    margin-top: 0;
    display: flex;
    margin-bottom: 0;
}

.zoom-user {
    background-color: aquamarine;
    width: 100%;
    height: 90%;
    margin-top: 55px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user {
    background-color: yellow;
    width: 14%;
    height: 90px;
}

/*footer*/
footer .tools {
    background-color: #0f1414;
    height: 65px;
}

.tools__left-box {}

.tools__middle-box {}

.tools__right-box {}