body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.zoom-viewport {
    width: calc(100% - 70px);
    height: 100vh;
    background-color: black;
    margin: 35px;
    margin-top: 0;
}